/* Importing Google's font */
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

/* Doc: https://www.w3schools.com/CSSref/css3_pr_box-sizing.php */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}

/* START - Header */
.header-container {
    display: flex;
    flex-direction: row;
    height: 90px;
    /* position: fixed; */
    top: 0;
    width: 100%;
    background: #000000;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-list {
    justify-content: flex-end;
    margin-left: auto;
}

.logo {
    justify-content: start;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px;
}

nav a:hover {
    background-color: #ff0000;
}

/* START - FAQ */
.faq-container {
    background-color: #fcfaf9;
}

/* START - Newsletter & Social Media Buttons */
.newsletter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}

.newsletter-item {
    display: flex;
    flex-direction: row;
}

.socialmedia {
    margin-right: 20px;
}

/* START - Footer */
.footer-container {
    display: flex;
    flex-direction: row;
    background: #000000;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.footer-item {
    display: block;
    width: 50%;
}

.footer-container ul {
    list-style-type: none;
}

.footer-mail {
    text-decoration: none;
    color: #ffffff;
}

/* START - Policy & TM */
.policy-container {
    display: flex;
    display: row;
    flex-direction: row;
    background: #000000;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.policy-item {
    margin-right: 15px;
}

.trademark {
    margin-left: auto;
}

.policy-item a {
    text-decoration: none;
    color: #ffffff;
}

.faq-container {
    width: 100%;
    background-color: #3c4053;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-item {
    background-color: #ff0000;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px rgba(0, 0, blue0, .1);
}

.accordion-link {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link ion-icon {
    color: aqua;
    padding: 0.5rem;
}

.remove-icon {
    display: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
    transition: max-height 650ms;
}

.answer:before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: burlywood;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p {
    color: rgba(255, 255, 255, .6);
    font-size: 1.4rem;
    padding: 2rem;
}

.accordion-item:target .answer {
    max-height: 20rem;
}

.accordion-item:target .accordion-link .add-icon {
    display: none;
}

.accordion-item:target .accordion-link .remove-icon {
    display: block;
}